body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 100px 10px 100px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: black;
}

.select-button {
  min-width: 100px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.select-button:hover {
  color: #1890ff;
  border: 1px solid #1890ff;
}
